body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
  color: #111111;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
}

.part-title {
  color: #fd9222;
}

.container {
  max-width: 1168px;
  padding: 0 16px;
  margin: 0 auto;
}

img {
  display: block;
}

.style {
  font-style: normal;
}

/* #region header */

header .container {
  display: flex;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 90px;
  flex-grow: 1;
}

.list-nav-header {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-icon-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111111;
  min-width: 185px;
  margin-right: 4px;
}

.logo-icon {
  fill: none;
  stroke: #fd9222;
}

.link-nav-header {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111111;
  padding: 30px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-nav-header:focus,
.link-nav-header:hover {
  color: #fd9222;
}

.header-icon-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.header-icon-img {
  fill: none;
  stroke: #111111;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon-img:hover,
.header-icon-img:focus {
  fill: none;
  stroke: #fd9222;
}

/* #endregion header */

/* #region hero */

.section-hero {
  padding-bottom: 72px;
}

.section-hero .container {
  background-color: #1e1823;
  border-radius: 30px;
  max-width: 1200px;
  padding-top: 375px;
  padding-bottom: 46px;
  padding-left: 72px;
  padding-right: 72px;
  background-image: linear-gradient(
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url("../images/chocolate-covered-cocoa-powder.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  color: #ffffff;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  width: 484px;
  margin-bottom: 32px;
}

.hero-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-btn-list {
  display: flex;
  gap: 14px;
}

.hero-scroll {
  display: flex;
  align-items: center;
  gap: 14px;
}

.hero-scroll-link {
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 10px;
  padding-bottom: 10px;
}

.hero-scroll-link-icon {
  display: flex;
  width: 38px;
  height: 38px;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover .hero-scroll-link-icon,
.hero-scroll:focus .hero-scroll-link-icon {
  background-color: #fd9222;
}

.hero-scroll-icon-img {
  fill: #fd9222;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:hover .hero-scroll-icon-img,
.hero-scroll:focus .hero-scroll-icon-img {
  transform: rotate(-90deg);
  fill: #ffffff;
}

.hero-btn {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  background-color: #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scroll:focus .hero-scroll-link,
.hero-scroll:hover .hero-scroll-link {
  color: #fd9222;
}

.bck-color:hover,
.bck-color:focus {
  background-color: #ffffff;
  color: #fd9222;
}

.bck-color {
  border: 1px solid #ffffff;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 183px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link {
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.09;
  letter-spacing: -0.01em;
}

/* #endregion hero */

/* #region benefits */

.section-benefits {
  background-color: #1e1823;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-benefits {
  display: flex;
  align-items: flex-start;
  justify-content: baseline;
  padding: 0 18px;
  gap: 88px;
}

.item-benefits {
  width: calc((100% - 176px) / 3);
  position: relative;
}

.item-benefits:not(:last-child)::after {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.5);
  width: 124px;
  height: 0px;
  top: 50%;
  left: 88%;
  transform: rotate(-90deg);
  position: absolute;
}

.benefits-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  margin-bottom: 22px;
}

.benefits-icon-img {
  fill: #fd9222;
}

.subtitle-benefits {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  margin-bottom: 18px;
}

.ltr-spng {
  letter-spacing: 0.01em;
}

.desc-benefits {
  width: 308px;
  font-size: 14px;
  line-height: 1.22;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
  position: relative;
}
/* #endregion benefits */

/* #region ingredients */

.section-ingredients {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-ingredients .title {
  max-width: 411px;
  margin-bottom: 28px;
  margin-left: auto;
  margin-right: auto;
}

.text-ingredients {
  max-width: 486px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.list-gallery {
  display: flex;
  align-items: center;
  gap: 19px;
}

.item-gallery {
  padding: 28px 32px;
  border-radius: 15px;
  width: calc((100% - 57px) / 4);
  position: relative;
  overflow: hidden;
}

.gallery-img {
  margin-bottom: 36px;
}

.bck-orange {
  background-color: #fd9222;
}

.bck-white {
  background-color: #ffffff;
  border: 1px solid #fd9222;
  border-radius: 15px;
  padding-top: 27px;
  padding-bottom: 27px;
}

.bck-dark {
  background-color: #1e1823;
}

.gallery-desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #ffffff;
}

.color-desc {
  color: #111111;
}

.block {
  position: absolute;
  background-color: #ffffff;
  padding: 20px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 15px;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-gallery:hover .block,
.item-gallery:focus .block {
  transform: translatey(0);
}

.block-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.block-about-list {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 14px;
}
.block-about-item {
  color: #ffffff;
  border-radius: 35px;
  padding: 6px 16px;
  background-color: #fd9222;
}
.block-about-text {
  font-size: 10px;
  line-height: 1.2;
}

.text-color {
  display: flex;
  color: #111111;
  border: 1px solid #fd9222;
  background-color: #fafafa;
  flex-wrap: nowrap;
}

.block-desc {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  margin: 0;
  margin-top: 14px;
  -webkit-line-clamp: 9;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.webkit {
  -webkit-line-clamp: 8;
}

/* #endregion ingredients */

/* #region make */

.section-make .title {
  margin-bottom: 50px;
}

.img-desc {
  display: flex;
  align-items: center;
  gap: 20px;
}

.desc {
  border-radius: 15px;
  padding: 32px;
  background-color: #ffffff;
}

.list-make {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 16px;
  padding-right: 27px;
}

.subtitle-make {
  max-width: 350px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 28px;
}

.item-make::marker {
  font-weight: bold;
}

.desc-make {
  font-size: 14px;
  line-height: 1.26;
  letter-spacing: -0.02em;
}

.list-make .item-make:not(:last-child) {
  margin-bottom: 24px;
}
/* #endregion make */

/* #region reviews */

.section-reviews {
  padding-top: 100px;
  padding-bottom: 100px;
}

.list-reviews {
  display: flex;
  justify-content: space-between;
  gap: 28px;
}

.reviews-title {
  margin-bottom: 92px;
}

.item-reviews {
  background-color: #ffffff;
  padding: 56px 24px 24px 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  position: relative;
  width: calc((100% - 56px) / 3);
}

.avatar-reviews {
  position: absolute;
  top: -42px;
  left: 38%;
}

.title-user {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  margin-bottom: 20px;
}

.desc-reviews {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
  width: 312px;
}

.btn-riviews {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.11;
  background-color: #fafafa;
  cursor: pointer;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  min-width: 222px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-riviews:focus,
.btn-riviews:hover {
  background-color: #fd9222;
  color: #ffffff;
}

/* #endregion reviews */

/* #region footer */

.section-footer {
  background-color: #1e1823;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 74px;
}

.footer-contact-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 50px;
}

.footer-contact-box::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.title-footer {
  width: 300px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
}

.link-nav-footer {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.link-nav-footer:focus,
.link-nav-footer:hover {
  color: #fd9222;
}

.contact-text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  margin-bottom: 14px;
}

.link-contact-footer {
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.link-contact-footer:focus,
.link-contact-footer:hover {
  color: #fd9222;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
}

.list-nav-footer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.link-nav-footer {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  padding: 12px 0;
}

.link-nav-footer:hover,
.link-nav-footer:focus {
  color: #fd9222;
}

.tell-footer {
  margin-bottom: 4px;
}

.footer-form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-input-form {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding-left: 24px;
  width: 313px;
  height: 52px;
  background-color: transparent;
  font-size: 18px;
  letter-spacing: -0.02em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
}

.footer-form input::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.footer-input-form:hover,
.footer-input-form:focus {
  border-color: #fd9222;
}

.btn-form {
  font-family: "Montserrat", sans-serif;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  min-width: 137px;
  height: 52px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  border: none;
}

.btn-form:hover,
.btn-form:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

/* #endregion footer */

/* #region modal */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  width: 517px;
  min-height: 794px;
  background-color: #fafafa;
  transform: translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 38px 40px;
}

.modal-overlay:not(.is-open) {
  transform: translate(-50%, -100%);
}

.close-btn {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover,
.close-btn:focus {
  background-color: #fcf1e0;
  border: 1px solid #fd9222;
}

.close-btn-icon {
  stroke: #111111;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover .close-btn-icon,
.close-btn:focus .close-btn-icon {
  stroke: #fd9222;
}

.title-form {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  width: 298px;
  margin-bottom: 42px;
}

.form-box {
  margin-bottom: 18px;
}

.input-box {
  position: relative;
}

.label-form {
  display: block;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
  margin-bottom: 8px;
}

.input-form {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  width: 100%;
  height: 68px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  padding-left: 62px;
}

.input-form:hover,
.input-form:focus {
  border-color: #fd9222;
}

.icon-input {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translatey(-50%);
  stroke: #404040;
  stroke-width: 2px;
  fill: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-box:focus-within .icon-input {
  stroke: #fd9222;
}

.input-form-comment {
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  width: 100%;
  height: 137px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  padding: 22px 24px;
  font-size: 18px;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
  resize: none;
}

.input-form-comment:focus,
.input-form-comment:hover {
  border-color: #fd9222;
}

textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.icon-checked-box {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  fill: transparent;
}

.label-checked-form {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.checked-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fd9222;
}

.input-checked-form:checked + .label-checked-form .icon-checked-box {
  fill: #ffffff;
  border: none;
  background-color: #fd9222;
}

.checked-form-box {
  margin-bottom: 40px;
}

.btn-form-send {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border-radius: 100px;
  padding: 14px 40px;
  background-color: #fd9222;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn-form-send:focus,
.btn-form-send:hover {
  background-color: #fcf1e0;
  color: #fd9222;
}

/* #endregion modal */
